.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background: linear-gradient(135deg, #0d1117, #1f2937); */
  /* color: #fff; */
  padding: 3rem 0;
}

.hero-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
}

.hero-btn {
  margin-top: 1.5rem;
}

.custom-section {
  padding: 3rem 1rem;
  background-color: #f8f9fa;
  position: relative;
}
.top-badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.card img {
  height: 180px;
  object-fit: cover;
}

.card-hover-bg:hover {
  background-color: #f8f9fa !important; /* Slightly lighter gray (you can tweak this) */
}

.heading-with-border {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
  background: linear-gradient(
    90deg,
    #ff7a18,
    #af002d,
    #320b86
  ); /* Cool gradient */
  -webkit-background-clip: text;
  color: transparent;
}

.heading-with-border::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust for a little space below */
  left: 50%;
  transform: translateX(-50%);
  width: 50%; /* Dynamically adjust based on the text length */
  height: 2px;
  background-color: #e600ff; /* Customize border color */
  border-radius: 5px; /* Rounded corners for the border */
}

.card-section .col-lg-4:nth-child(n + 4) {
  display: none;
}

.card-section.expanded .col-lg-4 {
  display: block;
}
